<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="3.0">
  <display-name>ec2</display-name>
  <context-param>
    <description>
			Vaadin production mode
		</description>
    <param-name>productionMode</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/applicationContext*.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>com.jiangyifen.ec2.utils.SessionExpiredListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
  </listener>
  <servlet>
    <servlet-name>application</servlet-name>
    <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <description>
				Vaadin application class to start
			</description>
      <param-name>application</param-name>
      <param-value>com.jiangyifen.ec2.Ec2Application</param-value>
    </init-param>
    <init-param>
      <description>
				Application widgetset
			</description>
      <param-name>widgetset</param-name>
      <param-value>com.jiangyifen.ec2.widgetset.Ec2Widgetset</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>application</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>application</servlet-name>
    <url-pattern>/VAADIN/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addresource</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.AddResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>addresource</servlet-name>
    <url-pattern>/trade/addresource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wokedial</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.woke.HttpDialServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>wokedial</servlet-name>
    <url-pattern>/woke/dial</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>woketransfer</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.woke.HttpTransferServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>woketransfer</servlet-name>
    <url-pattern>/woke/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wokehangup</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.woke.HttpHangupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>wokehangup</servlet-name>
    <url-pattern>/woke/hangup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wokechannelspy</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.woke.HttpChannelspyServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>wokechannelspy</servlet-name>
    <url-pattern>/woke/channelspy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wokewisperchannelspy</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.woke.HttpWisperChannelspyServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>wokewisperchannelspy</servlet-name>
    <url-pattern>/woke/wisperchannelspy</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>httpCommonFilter</filter-name>
    <filter-class>com.jiangyifen.ec2.servlet.http.common.filter.HttpCommonFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httpCommonFilter</filter-name>
    <url-pattern>/http/common/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>loginBindServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.LoginBindServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginBindServlet</servlet-name>
    <url-pattern>/http/common/loginBind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutUnbindServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.LogoutUnbindServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutUnbindServlet</servlet-name>
    <url-pattern>/http/common/logoutUnbind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dialServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.DialServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dialServlet</servlet-name>
    <url-pattern>/http/common/dial</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hangupServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.HangupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>hangupServlet</servlet-name>
    <url-pattern>/http/common/hangup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pauseUserServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.PauseUserServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>pauseUserServlet</servlet-name>
    <url-pattern>/http/common/pauseUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unpauseUserServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.UnpauseUserServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>unpauseUserServlet</servlet-name>
    <url-pattern>/http/common/unpauseUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transferCallInnerServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.TransferCallInnerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferCallInnerServlet</servlet-name>
    <url-pattern>/http/common/transferCallInner</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transferCallOuterServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.TransferCallOuterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferCallOuterServlet</servlet-name>
    <url-pattern>/http/common/transferCallOuter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transferCallQueueServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.TransferCallQueueServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferCallQueueServlet</servlet-name>
    <url-pattern>/http/common/transferCallQueue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spyUserServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.SpyUserServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spyUserServlet</servlet-name>
    <url-pattern>/http/common/spyUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>whisperUserServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.WhisperUserServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>whisperUserServlet</servlet-name>
    <url-pattern>/http/common/whisperUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acquireBdInfoServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.AcquireBdInfoServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>acquireBdInfoServlet</servlet-name>
    <url-pattern>/http/common/acquireBdInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acquireAllBdInfosServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.AcquireAllBdInfosServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>acquireAllBdInfosServlet</servlet-name>
    <url-pattern>/http/common/acquireAllBdInfos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acquireCallStatusServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.AcquireCallStatusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>acquireCallStatusServlet</servlet-name>
    <url-pattern>/http/common/acquireCallStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acquireAllCallStatusServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.AcquireAllCallStatusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>acquireAllCallStatusServlet</servlet-name>
    <url-pattern>/http/common/acquireAllCallStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>holdCallServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.HoldCallServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>holdCallServlet</servlet-name>
    <url-pattern>/http/common/holdCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unholdCallServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.UnholdCallServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>unholdCallServlet</servlet-name>
    <url-pattern>/http/common/unholdCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acquireCdr</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.data.AcquireCdrServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>acquireCdr</servlet-name>
    <url-pattern>/http/common/data/acquireCdr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>importCustomerResource</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.push.ImportCustomerResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>importCustomerResource</servlet-name>
    <url-pattern>/http/common/push/importCustomerResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inviteJoinMeetingRoom</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.meeting.InviteJoinMettingRoomServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>inviteJoinMeetingRoom</servlet-name>
    <url-pattern>/http/common/meeting/inviteJoinMeetingRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memoryMonitorServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.debug.MemoryMonitorServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>memoryMonitorServlet</servlet-name>
    <url-pattern>/http/debug/memoryMonitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>importResourceServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.shiyuan.ImportResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>importResourceServlet</servlet-name>
    <url-pattern>/http/shiyuan/importresource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>timeInfoServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.TimeInfoServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>timeInfoServlet</servlet-name>
    <url-pattern>/http/common/timeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hangupInfoServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.HangupInfoServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>hangupInfoServlet</servlet-name>
    <url-pattern>/http/common/hangupInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bridgeInfoServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.BridgeInfoServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bridgeInfoServlet</servlet-name>
    <url-pattern>/http/common/bridgeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperatorStateVisiableServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.OperatorStateVisiableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorStateVisiableServlet</servlet-name>
    <url-pattern>/open</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acquireQueueMemberStatusServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.queue.AcquireQueueMemberStatusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>acquireQueueMemberStatusServlet</servlet-name>
    <url-pattern>/http/common/queue/acquireQueueMemberStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acquireHoldCallStatusServlet</servlet-name>
    <servlet-class>com.jiangyifen.ec2.servlet.http.common.AcquireHoldCallStatusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>acquireHoldCallStatusServlet</servlet-name>
    <url-pattern>/http/common/acquireHoldCallStatus</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>